:root {
  --main-text: #fcf9f9;
  --main-bg: #1c2225;
  --accent-color: #ecd979;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;

  font-family: 'Manrope', sans-serif;
  background-color: var(--main-bg);
  color: var(--main-text);
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
